@model BlogPost
@inject IBlogRepository blogRepository;
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">


        <div id="@Model.Id" class="row bg-white p-3">
            <div class="col-12 p-2">
                <span class="text-primary small">@Model.Author</span> <i class=" ml-1 far  fa-star fa-xs text-muted"></i>
            </div>

            <div class="col-12">
                <h2 class="text-capitalize mb-0">@Model.Title</h2>
                <h3 class="text-muted"><small>@Model.SubTitle</small></h3>
                <p class="mt-4">@Model.Introduction @Model.Content</p>
            </div>

            <div class="col-12">
                <button class="btn btn-light"><i class="far fa-heart"></i> <span>@Model.Likes</span></button>
                <button class="btn btn-light"><i class="far fa-comment"></i> <span>@blogRepository.GetCommentsOfBlogPost(Model).Count()</span></button>



            </div>

        </div>


    </div>
</div>